header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(34, 80, 56);
  color: #ffff;
  padding: 20px;
  width: 100%;
}

.navbar{
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: rgb(63, 120, 91);
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
